/* Tailwind Base Setup */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Global Styling */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
}

/* Scrollbar Styling (WhatsApp Feel) */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #25d366;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #e5e5e5;
}
